.App {
  margin: 0px;
  padding: 0px;
}

.app-header {
  background-color: black;
  color: #fff;
  padding: 20px;
  text-align: center;
  position: relative;
}

.header-title {
  font-size: 24px;
}

.search-bar-container {
  margin-top: 20px;
  display: flex;
  align-items: center;
}

input[type="text"] {
  flex: 1;
  padding: 10px;
  border: none;
  background-color: #444;
  color: #fff;
  font-size: 16px;
}

.search-button {
  background-color: #0088cc;
  color: #fff;
  border: none;
  padding: 10px 20px;
  margin-left: 10px;
  font-size: 16px;
  cursor: pointer;
}

.search-suggestions {
  display: flex;
  background-color: white;
  flex-direction: column;
  z-index: 1;
  overflow: auto;
}

.search-suggestions ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.search-suggestions ul li {
  padding: 8px;
  cursor: pointer;
  color: black;
  transition: background-color 0.3s;
  border: 1px solid grey;
}

.search-suggestions ul li:hover {
  background-color: #f0f0f0;
}
